.archivio-container {
    height: 25%;
}

.archivio-table-wrapper {
    height: 75%;
    overflow: auto;
}

.archivio-form {
    border: 2px solid green;
    background-color: azure;
}

.archivio-form .form-control {
    height: 35px;
}

.archivio-form .form-select {
    height: 38px;
    padding: 0 0 1px 4px;
}

.archivio-form .form-floating label {
    font-size: 13px;
    top: -25%;
}

.archivio-form-btns button {
    height: 35px;
    width: 70px;
}