.modal-osp {
  font-size: 14px;
}
.modal-osp > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal-osp > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal-osp > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal-osp > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.osp-form .form-floating input {
  height: 2.375rem;
  min-height: 2.375rem;
}

.osp-form .form-select {
  height: 2.375rem;
  min-height: 2.375rem;
  padding: 6px 0 0 6px;
}

.osp-form .form-floating label {
  font-size: 13px;
  top: -25%;
}
