html, body {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.popup-content {
  background-color: #f9f9fa;
  border: 1px solid #464545;
  color: rgb(20, 13, 13);
  border-radius: 5px;
}

.popup-overlay[data-popup="modal"] {
  background: rgba(0,0,0,.5);
}

.popup-overlay[data-popup="modal"] .popup-content {
  padding: .5rem
}

.popup-arrow {
  visibility: hidden;
}