html, body {
  overflow: hidden;
  height: 100%;
}

.popup-content {
  background-color: #f9f9fa;
  border: 1px solid #464545;
  color: rgb(20, 13, 13);
  border-radius: 5px;
}

.popup-overlay[data-popup="modal"] {
  background: rgba(0,0,0,.5);
}

.popup-overlay[data-popup="modal"] .popup-content {
  padding: .5rem
}

.popup-arrow {
  visibility: hidden;
}