# anything .gitkeep must not been ignored
!*.gitkeep

# dependencies
/node_modules
/tmp

# misc
package-lock.json
.env
.env*

# tsc server build files
/dist
/build

# vscode configs
/.vscode

# tmp upload files
server/tmp/*

# server public dir files
server/public/uploads/*
!server/public/uploads/*.gitkeep

# shell scripts
*.sh

# db data
accessi.sql
data.sql

# ssl certificates
server/certs/*
!server/certs/.gitkeep