# anything .gitkeep must not been ignored
!*.gitkeep

# dependencies
/node_modules
/tmp

# misc
package-lock.json
.env*

# tmp upload files
server/tmp/*

# tsc server build files
/dist
/build

# vscode configs
/.vscode

# documenti & calendario files
# server/public/documenti/*
# server/public/calendario/*
