.anagrafico-container {
    height: 40%;
    max-height: 40%;
}

.anagrafico-table-wrapper {
    overflow: auto;
    height: 60%;
    max-height: 28rem;
    background-color: white;
}

.pfp-container {
    border: 2px solid green;
    aspect-ratio: 1 / 1;
    /* width: 200px;
    height: 200px; */
    /* max-width: 200px;
    max-height: 200px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
}

.anagrafico-form {
    border: 2px solid green;
    background-color: azure;
    padding-bottom: 12px;
}

.anagrafico-form .form-control {
    height: 38px;
}

.anagrafico-form .form-select {
    height: 38px;
    padding: 10px 0 1px 4px;
}

.anagrafico-form .form-floating label {
    font-size: 13px;
    top: -25%;
}

.anagrafico-form input[type=file] {
    font-size: 15px;
    height: 35px;
}

.anagrafico-form-btn {
    width: 6.5625rem;
    height: 2.1875rem;
}

.anagrafico-form-b {
    font-size: 14px;
}

/* .custom-input-pfp {
    max-width: 200px;
    min-width: 200px;
} */

.pfp-col {
    max-width: 12.5rem;
}