.home-alert-wrapper {
    position: absolute;
    left: 70%;
    top: 35%;
    margin-right: 1%;
}

.in-strutt-count {
    position: absolute;
    left: 60%;
    top: 43%;
    font-size: 20px;
}

.home-container {
    height: 40%;
    max-height: 40%;
}

.popup-table-wrapper {
    overflow: auto;
    max-height: 250px;
    max-width: 450px;
}

.badge-table-wrapper {
    overflow: auto;
    height: 60%;
    background-color: white;
}

.pfp-container {
    border: 2px solid green;
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
}

.badge-form {
    border: 2px solid green;
    background-color: azure;
}

.badge-form .form-control {
    height: 35px;
}

.badge-form .form-select {
    height: 38px;
    padding: 0 0 1px 4px;
}

.badge-form .form-floating label {
    font-size: 13px;
    top: -25%;
}

.badge-form input[type="file"] {
    font-size: 11px;
}