.badge-table {
    width:100%;
}

.badge-table-thead {
    position: sticky;
    top: 0;
    z-index:1 ;
    background-color: white;
}

.badge-table-tbody {
    max-height: 28px;
    overflow: scroll;
    height: 28px;
}

.badge-table-th {
    position: sticky;
    top: 0;
    z-index:1 ;
}

.badge-table-tr {
    line-height: 5px;
}

.badge-table-td {
    white-space: nowrap;
}

.clickable-tr:hover {
    cursor: pointer;
}