.nav-link {
    color: rgb(229, 225, 221);
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
}

#currPostazione {
    max-height: 35px;
    max-width: 350px;
}

.scan-btn {
    max-height: 30px;
    font-size: small;
    white-space: nowrap;
}

.scan-status-txt {
    font-size: small;
}

/* .navbar-brand {
    background-color: aquamarine;
}

.secondary-nav {
    background-color: rgb(42, 34, 34);
} */