.nav-link {
    color: rgb(229, 225, 221);
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
}

.navbar select {
    max-height: 2.1875rem;
    max-width: 21.875rem;
}

.scan-btn {
    max-height: 30px;
    font-size: small;
    white-space: nowrap;
}

.scan-status-txt {
    font-size: small;
    text-shadow: 0 0 2px black;
}

.scan-status-txt:hover {
    cursor: default;
}

.navbar-img-brand {
    max-width: 13.3125rem;
    min-height: 1.4375rem;
}

.navbar-brand:hover {
    cursor: default;
}

.scanner-btn img {
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
    float: right;
    padding-left: 2px;
}

.scanner-btn p {
    float: left;
    padding-right: 2px;
}