.chiavi-container {
    height: 40%;
    max-height: 40%;
}

.chiavi-table-wrapper {
    height: 60%;
    max-height: 60%;
}

.chiavi-form {
    border: 2px solid green;
    background-color: azure;
}

.barcode-list {
    overflow: auto;
    height: 150px;
    max-height: 150px;
}

.btn-del-barcode {
    background-color: red;
    color: white;
    border: 1px solid;
}

#chiavi-wrapper .form-select {
    height: 38px;
    padding: 0 0 1px 4px;
}

#chiavi-wrapper .form-floating label {
    font-size: 13px;
    top: -20%;
}