.pfp-container {
  display: block;
  border: 2px solid green;
  max-width: 250px;
  max-height: 250px;
  min-width: 250px;
  min-height: 250px;
  height: auto;
  width: auto;
  float: left;
  margin: 3px;
  padding: 3px;
}

.pfp {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

/* .pfp:after {
  content: none;
}  */

.badge-form .form-control {
  height: 40px;
}

.badge-form .form-select {
  height: 40px;
  padding: 0 0 1px 4px;
}

.badge-form .form-floating label {
  font-size: 13px;
}

.badge-form .form-floating label {
  top: -25%;
}

.badge-form .form-floating input[type="date"] {
  height: 50px;
}

