.login-form {
  display: block;
  width: 30%;
  border: 2px solid green;
  padding: 5px;
  background-color: azure;
}

.login-center {
  margin: 0 auto;
  position: absolute;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.login-child {
  margin: 0 auto;
}

.login-alert-wrapper {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("/login_wallpaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.login-logo {
  max-width: 307px;
  max-height: 57px;
}
