.doc-table-wrapper {
    height: 60%;
}

.doc-form {
    border: 2px solid green;
    background-color: azure;
}

.doc-img-container {
    border: 2px solid green;
    width: 180px;
    height: 180px;
    max-width: 180px;
    max-height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
}

.doc-form .form-control {
    height: 35px;
}

.doc-form .form-floating label {
    font-size: 13px;
    top: -25%;
}

input[type="file"] {
    font-size: 12px
}